<header>
    <style>
            ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
            ul.navbar li {
            display: inline;
            }
        </style>
    <nav>
        <ul class="navbar">
            <li><a href="/heretohike/index.html">Home</a></li>
            <li><a href="/heretohike/posts.html">Posts</a></li>
            <li><a href="/heretohike/bucket-list.html">Bucket List</a></li>
            <li><a href="/heretohike/about.html">About</a></li>
        </ul>
    </nav>
</header>
<h1>
    Here to Hike
</h1>