<header>
    <style>
            ul.navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            }
            ul.navbar li {
            display: inline;
            }
        </style>
    <nav>
        <ul class="navbar">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/posts.html">Posts</a></li>
            <li><a href="/bucket-list.html">Bucket List</a></li>
            <li><a href="/about.html">About</a></li>
        </ul>
    </nav>
</header>